.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 20px;
  padding: 20px;
  background: #75c1ff;
}

.cash {
  font-size: 36px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}